// // .stats-cards {
//     .mat-card {
//         overflow: hidden;
//       }
    
    
//     table {
//       width: 100%;
//     }
  
//     th.mat-sort-header-sorted {
//       color: black;
//     }